# Files
Transcripts.txt
.gitignore
.env
legs.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Transcripts
*.txt
